html{
	width: 100%;
	height: 100%;
	border: rgb(26, 29, 26) 10px double; 
	overflow-y:scroll;
}

.contenedor1 {
	width: 500px;
	height: 50px;
	margin: 50px auto;
	background: #fff;
	padding-left:300px;
	
}

.contenedor1 h1 {
	font-family: 'Open Sans';
	background-color:#ff9d00;
	width: 9em;
	text-align: center;
}


body {

	border-radius: 10em;
	background-color: white;
	border-bottom-width: 0.2em;
	
}

.imag  {
	width: 1300px;
	height: 300px;

}


.contenedor {
	width: 1000px;
	height: 450px;
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	overflow: auto;
	font-family: 'Open Sans';
	border-radius: 4px;
}

.contenedor h1 {
	font-size: 38px;
	font-weight: 600;
	color: #000;
}

.contenedor hr {
	background: #ff9d00;
	width: 20%;
	height: 5px;
	border: none;
	margin: 20px 0;
	border-radius: 50px;
}

p {
	margin-bottom: 20px;
	line-height: 28px;
	font-size: 16px;
	color: #414141;
}

/* Scroll Personalizado */

.contenedor::-webkit-scrollbar {
	width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
	background: #ff9d00;
	border-radius: 5px;
}


.footerin {
	font-family: Arial, Helvetica, sans-serif;
	align-items: center;
	text-align: center;
	position: fixed;
	
}


